.sortLabels {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.sortIcon {
  margin-left: 10px;
}

.sortButton {
  color: white;
  background-color: transparent;
  border: none;
}

.sortButton:focus {
  outline-color: #97ce4c;
  color: #97ce4c;
}
