.employeeCard {
  margin-bottom: 20px;
  padding: 10px;
  border-top: 1px solid #c9d6df;
  border-bottom: 1px solid #c9d6df;
}

.cardRow {
  border-bottom: 1px solid #c9d6df;
  border-top: 1px solid #c9d6df;
  margin-bottom: 20px;
  padding: 5px;
}

.profileImg {
  width: 70px;
}

.profileImgContainer {
  text-align: center;
}

.name {
  color: white;
  padding-top: 1.3rem;
  text-align: center;
  overflow-wrap: break-word;
  border-left: 1px solid #c9d6df;
}

.email {
  color: white;
  padding-top: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  border-left: 1px solid #c9d6df;
}

.phoneNum {
  color: white;
  padding-top: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  border-left: 1px solid #c9d6df;
}

@media screen and (max-width: 766px) {
  .row {
    padding-top: 20px;
  }
  .name {
    border-left: none;
    padding: 0;
  }

  .email {
    border-left: none;
    padding: 0;
  }

  .phoneNum {
    border-left: none;
    padding: 0;
  }
}
