.employeeCard {
  margin-bottom: 20px;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.row {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
}
.profileImg {
  width: 70px;
}
.profileImgContainer {
  text-align: center;
}

.name {
  padding-top: 1.3rem;
  text-align: center;
  overflow-wrap: break-word;
  border-left: 1px solid black;
}

.email {
  padding-top: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  border-left: 1px solid black;
}

.phoneNum {
  padding-top: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  border-left: 1px solid black;
}

@media screen and (max-width: 766px) {
  .name {
    border-left: none;
  }

  .email {
    border-left: none;
  }

  .phoneNum {
    border-left: none;
  }
}
